.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/tslint.json
**/*.map
**/*.ts
.prettierignore
webpack*.js
node_modules
.github/
gitversion.yml
marketplace/
.eslintignore
.spellignore
.eslintrc.js
jest.config.js
coverage/
test/
